<main class="main">
  <div class="content">
      <div class="text-header">
        <h2>{{title}}</h2>
      </div>
      <div class="checkbox-part">
        <input type="radio" name="type" [checked]="this.rating_type() === 0" (change)="this.rating_type.set(0)"/> Stars
        <input type="radio" name="type" [checked]="this.rating_type() === 1" (change)="this.rating_type.set(1)"/> Thumbs
      </div>
      <div class="pill-group rating-bloc">
        <img class="control-item" [src]="controlDown" (click)="rateDown()"/>
        @for (item of [1, 2, 3, 4, 5]; track $index) {
          <img class="rating-item" [src]="$index >= this.user_rating() ? empty_icon() : filled_icon()" 
          (click)="chooseRating($index)"/>
        }
        <img class="control-item" [src]="controlUp" (click)="rateUp()"/>
      </div>
  </div>
</main>

<router-outlet />
